---
import { $user } from "../../stores/userStore";
import { logOut } from "../../services/auth";

const userState = $user.get();
const user = userState?.data;
---

<header
  class="flex justify-between bg-primary/45 text-white backdrop-blur fixed top-0 left-0 right-0 z-10 px-4 py-2"
>
  <!-- Logo  -->
  <div class="logo">
    <a href="/">WS</a>
  </div>

  <!-- Navbar -->
  <nav aria-label="Navbar">
    <ul class="flex gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/services">Spaces</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <div>
        {
          user ? (
            <>
              <li>
                <a href="/profile">Profile</a>
                <span>Hi, {user.email}</span>
              </li>
              <li>
                <button id="logout-btn">
                  <a href="/logout">Logout</a>
                </button>
              </li>
            </>
          ) : (
            <li>
              <a href="/login">Login/Register</a>
            </li>
          )
        }
      </div>
    </ul>
  </nav>
</header>

<script>
  import { logOut } from "../../services/auth";

  const logoutBtn = document.getElementById("logout-btn");

  logoutBtn?.addEventListener("click", async () => {
    await logOut();
    window.location.href = "/login";
    //$user.set({ data: null });
  });
</script>
