<header
  class="flex justify-between bg-black/30 text-white backdrop-blur fixed top-0 left-0 right-0 z-10 px-4 py-2"
>
  <!-- Logo  -->
  <div class="logo">
    <a href="/">WS</a>
  </div>

  <!-- Barra de navegación principal -->
  <nav aria-label="Navbar">
    <ul class="flex gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/services">Spaces</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/login">Login/Register</a></li>
    </ul>
  </nav>
</header>
