---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import ProductList from "../components/products/ProductList.astro";
import WhyUs from "../components/WhyUs.astro";
---

<Layout>
  <Welcome />
  <section id="spaces" class="pt-16 px-8">
    <ProductList />
  </section>
  <WhyUs />
</Layout>
