---
import WelcomeMessage from "../components/auth/WelcomeMessage.astro";
import Login from "../components/auth/Login.astro";
import LayoutLogin from "../layouts/LayoutLogin.astro";
---

<div>
  <LayoutLogin title="WorkSpace Login">
    <div
      class="h-full flex justify-center items-center px-6 md:p-0 bg-primary/45"
    >
      <div
        class="justify-center items-center w-full md:h-3/4 lg:h-2/3 md:w-3/4 lg:w-2/3 rounded-lg grid md:grid-cols-2 grid-cols-1 bg-primary/45 backdrop-blur-sm"
      >
        <!-- Coworking App Info -->
        <div class="flex-1">
          <WelcomeMessage />
        </div>

        <!-- Login Form -->
        <div class="flex-1"><Login /></div>
      </div>
    </div>
  </LayoutLogin>
</div>
