@import "tailwindcss";

@theme {
  --color-primary: #24211e;
}

input {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: transparent !important;
  background-clip: text;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
}

button {
  cursor: pointer;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#container {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  height: 100%;
}
