---
import ProductCard from "./ProductCard.astro";
import { getAllProducts } from "/src/services/products";
const data = await getAllProducts();

let rooms = data || [];
---

<div id="product-list" class="p-8">
  <h2 class="text-3xl font-bold mb-6">Our Spaces</h2>
  <div
    id="service-list"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:gap-14 gap-8"
  >
    {rooms.map((room) => <ProductCard {...room} />)}
  </div>
</div>
