---
import { Icon } from "astro-icon/components";
---

<div class="text-white flex-1 h-3/5 lg:h-full p-8
justify-center">
  <h2 class="text-2xl font-bold text-center mb-4">Sign In</h2>
  <form>
    <input
      type="email"
      name="email"
      placeholder="Email"
      required
      class="w-full mb-2 p-2 border-b border-white"
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required
      class="w-full mb-2 p-2 border-b border-white"
    />
    <p id="error-message" class="text-white/80 text-sm"></p>
    <button
      id="btn-sign-in-email"
      type="submit"
      class="w-full flex justify-center gap-2 bg-primary hover:bg-primary/80 rounded-full p-2 px-4 mt-4"
      >Sign In</button
    >
    <div class="flex items-center gap-2">
      <hr class="my-4 flex-1" />
      <span class="text-white pb-1">or </span>
      <hr class="my-4 flex-1" />
    </div>

    <button
      id="btn-sign-in-google"
      type="button"
      class="w-full text-primary flex justify-center items-center gap-2 bg-white hover:bg-white/90 rounded-full p-2 px-4"
    >
      <Icon name="google" size={20} />
      <span id="google-message">Google</span>
    </button>

    <p class="text-center mt-4">
      Don't have an account? <a
        href="/register"
        class="font-bold hover:underline">Register</a
      >
    </p>
  </form>
</div>

<script>
  import type { User } from "firebase/auth";
  import {
    signInWithGoogle,
    signInWithEmail,
    getSessionCookies,
  } from "/src/services/auth/auth.client";

  const form = document.querySelector("form");
  const errorMessage = document.getElementById(
    "error-message"
  ) as HTMLParagraphElement;
  const btnSignInGoogle = document.getElementById(
    "btn-sign-in-google"
  ) as HTMLButtonElement;
  const btnSignInEmail = document.getElementById(
    "btn-sign-in-email"
  ) as HTMLButtonElement;
  const googleMessage = document.getElementById(
    "google-message"
  ) as HTMLSpanElement;

  if (
    form &&
    btnSignInEmail &&
    btnSignInGoogle &&
    googleMessage &&
    errorMessage
  ) {
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      errorMessage.textContent = "";
      const email = form.email.value;
      const password = form.password.value;

      //Disable button
      btnSignInEmail.disabled = true;
      btnSignInGoogle.disabled = true;
      btnSignInEmail.textContent = "Signing in...";

      const response = await signInWithEmail(email, password);

      handleSignInResponse(response);
      //Enable button
      btnSignInEmail.disabled = false;
      btnSignInGoogle.disabled = false;
      btnSignInEmail.textContent = "Sign In";
    });

    form.addEventListener("input", () => {
      errorMessage.textContent = "";
    });

    btnSignInGoogle.addEventListener("click", async () => {
      //Disable button
      btnSignInGoogle.disabled = true;
      btnSignInEmail.disabled = true;
      googleMessage.textContent = "Signing in...";

      //Result and redirect
      const response = await signInWithGoogle();
      handleSignInResponse(response);
      //Enable button
      btnSignInGoogle.disabled = false;
      btnSignInEmail.disabled = false;
      googleMessage.textContent = "Google";
    });
  }

  const handleSignInResponse = async (response: {
    success: boolean;
    message: string;
    data?: { user: User; token: string } | null;
  }) => {
    const { success, message, data } = response;
    if (success && data) {
      const response = await getSessionCookies(data.token);
      if (response.redirected) {
        window.location.assign(response.url);
      }
    } else {
      errorMessage.textContent = message;
    }
  };
</script>
