---
import LeftLogin from "../components/login-register/LeftLogin.astro";
import RightLogin from "../components/login-register/RightLogin.astro";
import LayoutLogin from "../layouts/LayoutLogin.astro";
---

<div>
  <LayoutLogin>
    <div
      class="h-full flex justify-center items-center px-6 md:p-0 bg-primary/45"
    >
      <div
        class="justify-center items-center w-full md:h-3/4 lg:h-2/3 md:w-3/4 lg:w-2/3 rounded-lg grid md:grid-cols-2 grid-cols-1 bg-primary/45 backdrop-blur-sm"
      >
        <!-- Coworking App Info -->
        <div class="flex-1">
          <LeftLogin />
        </div>

        <!-- Login Form -->
        <div class="flex-1"><RightLogin /></div>
      </div>
    </div>
  </LayoutLogin>
</div>
