<p class="text-xl font-bold px-6 text-primary flex">Confirm your reservation</p>
<form class="p-6">
  <p>Room</p>
  <input
    type="date"
    name="date"
    class="w-full mb-2 p-2 border-b border-primary/80 text-primary"
    placeholder="Date"
    required
  />
  <input
    type="time"
    name="time"
    class="w-full mb-2 p-2 border-b border-primary/80 text-primary"
    placeholder="Time"
    required
  />
  <input
    type="text"
    name="name"
    class="w-full mb-2 p-2 border-b border-primary/80 text-primary"
    placeholder="Reservation Name"
    required
  />
  <input
    type="email"
    name="email"
    class="w-full mb-2 p-2 border-b border-primary/80 text-primary"
    placeholder="Email"
    required
  />
  <input
    type="text"
    name="phone"
    class="w-full mb-2 p-2 border-b border-primary/80 text-primary"
    placeholder="Phone"
    required
  />
  <div class="flex justify-center w-full">
    <button
      type="submit"
      class="mt-6 bg-primary text-white w-full px-6 py-2 rounded-full hover:bg-primary/80 transition"
    >
      Confirm
    </button>
  </div>
</form>
