---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import ReservationTable from "../../components/admin/ReservationTable.astro";
import AdminCalendar from "../../components/admin/AdminCalendar.astro";
import ReservationDetail from "../../components/admin/ReservationDetail.astro";
---

<LayoutAdmin title="Admin Dashboard - Coworking Reservations">
  <h1 class="text-3xl font-bold text-primary mx-6 pt-8 mt-14">
    Reservations Dashboard
  </h1>
  <div class="px-6 py-6">
    <!-- Top Section - Recent Reservations Tables Side by Side -->
    <div
      class="grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-[auto_auto] gap-6 mb-8"
    >
      <div class="order-1 lg:col-span-2 lg:row-span-1">
        <ReservationTable />
      </div>

      <div class="order-3 lg:col-span-2 lg:row-span-1">
        <AdminCalendar />
      </div>

      <div class="order-2 lg:col-span-1 lg:row-span-2">
        <ReservationDetail />
      </div>
    </div>
  </div>
</LayoutAdmin>
